body {
    background-image: url('/images/background.jpg');
    background-size: cover;
}

.container {
    width: 500px !important;
}

.card-body {
    padding-top: auto !important;
    padding-bottom: auto !important;
}

#time {
    font-size: 30px;
}

.btn {
    font-size: 20px !important;
    margin: 10px !important;
    padding: 5px 30px !important;
    letter-spacing: 3px;
    width: 50% !important;
}

.btn-info {
    font-size: 30px !important;
    margin: 10px !important;
    padding: 3px 0px !important;
}

p, span {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
}